.fc-bg-primary {
  background-color: #00c1d5;
}
.fc-bg-img {
  background-image: url("../assets/img/fc-bg-img.jpeg");
  background-size: cover;
  background-position: top center;
  -webkit-filter: brightness(95%); /* Safari 6.0 - 9.0 */
  filter: brightness(95%);
}
.fc-border-primary {
  border-color: #9c27b0;
}

